[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://bcms.bloomberg.com/pip/simple"
verify_ssl = true
name = "bcmsbloomberg"

[packages]
pandas = "*"
python-dotenv = "*"
blpapi = {version = "*", index = "bcmsbloomberg"}
numpy = "*"
requests = "*"
matplotlib = "*"
psycopg = {extras = ["pool"], version = "*"}
jsonschema = {extras = ["format"], version = "*"}

[dev-packages]
pandas = "*"
python-dotenv = "*"
blpapi = {version = "*", index = "bcmsbloomberg"}
numpy = "*"
requests = "*"
pyqt6 = "*"
matplotlib = "*"
psycopg = {extras = ["pool"], version = "*"}
jupyterlab = "*"
notebook = "*"
ipython = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
